<div class='container'>
    <div class='row'>
            <label>Simple Converter</label>
    </div>
    <div class='row'>
        <div class='col-sm-10'>
            <div class="form-group">
                <label for="ConvertText">Text to convert:</label>
                <textarea class="form-control" rows="5" id="ConvertText"
                    #textContent
                    (blur)="convertToCsv(textContent.value); convertToXml(textContent.value); textContent.value='' "></textarea>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-2'>
            <button (click)="convertToCsv(textContent.value)">Convert</button>
        </div>
    </div>
    <div class='row'>
        <div class="alert alert-primary" role="alert">
            
        </div>
    </div>
    <div class='row'>
        <div class='col-sm-5'>
            <div class="form-group">
                <label for="csv">Xml:</label>
                <textarea class="form-control" rows="5" id="csv">{{this.csvTextFormat}}</textarea>
            </div>
        </div>
        <div class='col-sm-5'>
                <div class="form-group">
                        <label for="xml">Csv:</label>
                        <textarea class="form-control" rows="5" id="xml">{{xmlTextFormat}}</textarea>
                </div>
        </div>
    </div>
</div>